<div id="content" class="wrapper clearfix ">
	<h2>Mes derniers messages</h2>
	<section class="colonnes">
		<div class="pub">
			<a href="http://www.bebe.nestle.fr/" title="nestlé"><img src="img/nestle.jpg" alt="publicité nestlé"></a>
		</div>	
	</section>
	<section class="clearfix colonnes" id='actu'>		
		<% for(var i=0; i<messages.length; i++) { %>
			<div class="box-actu clearfix">
				<span class="cube-actu <%- messages[i].couleur %>"></span>
				<div id="border-actu"></div>	
				<span class="date"><%- messages[i].jour %> <%- messages[i].date %> <%- messages[i].mois %> <%- messages[i].heures %>:<%- messages[i].minutes %></span>
				<p><%- messages[i].message %></p>
				<div id="support">
					<span class="twitter <%- messages[i].twitter %>"></span>
					<span class="mail <%- messages[i].mail %>"></span>
					<span class="sms <%- messages[i].sms %>"></span>	
				</div>
			</div>
		<% } %>
		<!-- Bouton pour avoir des actus plus anciennes -->	
		<a href="" title="actualités plus anciennes"><span class="bouton-actus"></span></a>		
	</section>

</div>	
