<div id="content" class="wrapper clearfix">
	<section class="colonnes">
		<div id="mesinfos">
		<h2>Mes infos</h2><span> - Modification des paramètres</span>
		<div class="box-infos clearfix">
			<div class="infos-gauche">
				<span>Prénom</span></br>
				<span>Nom</span></br>
				<span>ID Socle</span>
			</div>
			<div class="infos-droite">
				<span><%- user.prenom %></span></br>
				<span><%- user.nom %></span></br>
				<span>098 987 876 654</span>
			</div>	
		</div>				
		<div class="box-infos clearfix">
			<div class="infos-gauche">
				<span>Adresse de connexion</span></br>
				<span>Mot de passe</span>
			</div>
			<div class="infos-droite">
				<span><%- user.mail %></span></br>
				<span>xxxxxxxxx</span>
			</div>	
		</div>
		<div class="box-infos clearfix">
			<span>ADRESSES CUBI'Z</span>
			<ul>
				<li>@<%- user.twitter %></li>
				<li><%- user.mail %></li>
				<li><%- user.tel %></li>
			</ul>							
		</div>
		
		</div>
	</section>
	<section class="colonnes">
		<div class="pub">
			<a href="http://www.vertbaudet.fr/" title='verbaudet'><img src="img/vertbaudet.jpg" alt="publicité nestlé"></a>
		</div>
	</section>	

</div>